[Unit]
Description=Fix ATA DMA

[Service]
Restart=no
Type=oneshot
ExecStart=/usr/sbin/atafix.sh

[Install]
WantedBy=multi-user.target

# This goes in /etc/systemd/system/atafix.service
# Enable: systemctl enable atafix.service
